<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMCfz3B5yrRiC_M20XfpZIFY83M_d1mS4</string>
	<key>GCM_SENDER_ID</key>
	<string>942567714332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTrackingApp</string>
	<key>PROJECT_ID</key>
	<string>pockettracker-3a93c</string>
	<key>STORAGE_BUCKET</key>
	<string>pockettracker-3a93c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942567714332:ios:36c3e73456ea17e933b9d9</string>
</dict>
</plist>